<h1>Goal Tracking</h1>

<table class="table table-bordered">
<% @goals.each do |goal| %>
	<tr>
		<td><%= link_to goal.title, goal_path(goal) %></td>
		<td><%= link_to "Edit", edit_goal_path(goal) %></td>
	</tr>
<% end %>
<br>	

</table>
<%= link_to "Create New Goal", new_goal_path %>	